<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="chrome"/>
    <add key="DriverPathChrome" value="C:\Users\Valiantsin_Lopan\Documents\Visual Studio 2015\Projects\TestFramework\packages\Selenium.WebDriver.ChromeDriver.2.27.0\driver"/>
    <add key="BatchPath" value="D:\Data for training\Styling\Responsive-Batch-6.xlsx"/>
    <add key="URL" value="http://journals.lww.com/"/>
  </appSettings>
</configuration>